   @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
   
   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
   }
   
   body {
     user-select: none;
   }
   
   .nav {
     position: sticky;
     top: 0;
     left: 0;
     width: 100%;
     padding: 15px 200px;
     background: #da670f;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   }
   
   .nav,
   .nav .nav-links {
     display: flex;
     align-items: center;
     z-index: 999;
   }
   
   .nav {
     justify-content: space-between;
   }
   
   a {
     color: #fff;
     text-decoration: none;
   }
   
   .nav .logo {
     font-size: 22px;
     font-weight: 500;
   }
   
   .nav .nav-links {
     column-gap: 20px;
     list-style: none;
   }
   
   .nav .nav-links a {
     transition: all 0.2s linear;
   }
   
   .nav.openSearch .nav-links a {
     opacity: 0;
     pointer-events: none;
   }
   
   .nav .search-icon {
     color: #fff;
     font-size: 20px;
     cursor: pointer;
   }
   
   .nav .search-box {
     position: absolute;
     right: 250px;
     height: 45px;
     max-width: 555px;
     width: 100%;
     opacity: 0;
     pointer-events: none;
     transition: all 0.2s linear;
   }
   
   .nav.openSearch .search-box {
     opacity: 1;
     pointer-events: auto;
   }
   
   .search-box .search-icon {
     position: absolute;
     left: 15px;
     top: 50%;
     left: 15px;
     color: #4a98f7;
     transform: translateY(-50%);
   }
   
   .search-box input {
     height: 100%;
     width: 100%;
     border: none;
     outline: none;
     border-radius: 6px;
     background-color: #fff;
     padding: 0 15px 0 45px;
   }
   
   .nav .navCloseBtn:active {
     animation: putar 0.2s;
   }
   
   @keyframes putar {
     from {
       transform: rotate(500deg);
     }
     
     to {
       transform: rotate(-500deg);
     }
   }
   
   .nav .navOpenBtn,
   .nav .navCloseBtn {
     display: none;
   }
   
   .active {
     color: #2793ea;
     border-bottom: 2px solid #2793ea;
     padding: 5px 5px;
     border-radius: 3px;
   }
   
   .nav-links li a:active {
     color: #2793ea;
     transform: scale(0.9);
     font-size: 0.8em;
     border-bottom: 2px solid #2793ea;
     padding: 5px 5px;
     border-radius: 3px;
   }
   
   .login:active {
     transform: scale(0.9);
     transition: 0.4s;
     border: 2px solid black;
   }
   
   .login {
     transition: 0.4s;
     border: 2px solid white;
     border-radius: 5px;
     padding: 5px 5px;
   }
   
   .logoImgNav {
     border-radius: 50%;
     border: 3px solid white;
   }
   
   .content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #303030;
     width: 100%;
     height: 100vh;
   }
   
   .footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background: #622;
     width: 100%;
     height: 30vh;
   }
   
   .logoImgFot {
     animation: pudar 2s;
     margin-bottom: 5%;
     width: 50px;
     border-radius: 50%;
     border: 3px solid white;
   }
   
   .footer p {
     animation: pudar 2s;
     color: white;
     font-weight: 400;
   }
   
   .zerux {
     color: #686be7;
     font-weight: 600;
     border-bottom: 1px solid #3a3ee0;
   }
   
   #fotTxt {
     text-align: center;
   }
   
   h1 {
     color: #fff;
   }
   
   p {
     text-align: center;
     animation: ts 5s infinite alternate;
     color: #fff;
     font-weight: 600;
   }
   
   @keyframes ts {
     20% {
       text-shadow: 2px 2px 5px black;
       transition: 3s;
     }
     
     60% {
       transition: 3s;
       text-shadow: 2px 2px 5px #8e1a1a;
     }
     
     80% {
       text-shadow: 2px 2px 5px #1a238e;
       transition: 3s;
     }
   }
   
   @media screen and (max-width: 368px) {
     
     .nav .navOpenBtn,
     .nav .navCloseBtn {
       display: block;
     }
     
     .nav {
       padding: 15px 20px;
     }
     
     .nav .nav-links {
       position: fixed;
       top: 0;
       left: -100%;
       height: 100%;
       max-width: 280px;
       width: 100%;
       padding-top: 100px;
       row-gap: 30px;
       flex-direction: column;
       background-color: #11101d;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
       transition: all 0.5s ease;
       z-index: 100;
     }
     
     .nav.openNav .nav-links {
       left: 0;
     }
     
     .nav .navOpenBtn {
       color: #fff;
       font-size: 20px;
       cursor: pointer;
     }
     
     .nav .navCloseBtn {
       position: absolute;
       top: 20px;
       right: 20px;
       color: #fff;
       font-size: 20px;
       cursor: pointer;
     }
     
     .nav .search-box {
       top: calc(100% + 10px);
       max-width: calc(100% - 20px);
       right: 50%;
       transform: translateX(50%);
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     }
     
     .logoImg {
       width: 50px;
     }
     
     .login {
       font-size: 0.6em;
     }
     
     .logoImgNav {
       width: 35px;
       border: 2px solid white;
     }
     
     .logoImgFot {
       width: 35px;
       border: 2px solid white;
     }
     
     .logoImgNav {
       width: 35px;
       border: 2px solid white;
     }
     
     #fotTxt {
       font-size: .4em;
       padding-left: 20px;
       padding-right: 20px;
     }
     
     p {
       font-size: .6em;
       padding: 0 5%;
     }
   }
   
   @media screen and (min-width: 368px) {
     
     .nav .navOpenBtn,
     .nav .navCloseBtn {
       display: block;
     }
     
     .nav {
       padding: 15px 20px;
     }
     
     .nav .nav-links {
       position: fixed;
       top: 0;
       left: -100%;
       height: 100%;
       max-width: 280px;
       width: 100%;
       padding-top: 100px;
       row-gap: 30px;
       flex-direction: column;
       background-color: #11101d;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
       transition: all 0.5s ease;
       z-index: 100;
     }
     
     .nav.openNav .nav-links {
       left: 0;
     }
     
     .nav .navOpenBtn {
       color: #fff;
       font-size: 20px;
       cursor: pointer;
     }
     
     .nav .navCloseBtn {
       position: absolute;
       top: 20px;
       right: 20px;
       color: #fff;
       font-size: 20px;
       cursor: pointer;
     }
     
     .nav .search-box {
       top: calc(100% + 10px);
       max-width: calc(100% - 20px);
       right: 50%;
       transform: translateX(50%);
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     }
     
     .login {
       font-size: 0.7em;
     }
     
     .logoImgNav {
       width: 50px;
     }
     
     .logoImg {
       width: 50px;
     }
     
     .footer p {
       font-size: .7em;
     }
     
     p {
       font-size: .8em;
       padding: 0 5%;
     }
   }
   
   @media screen and (min-width: 768px) {
     
     .nav .navOpenBtn,
     .nav .navCloseBtn {
       display: inline-block;
     }
     
     .logoImg {
       width: 150px;
     }
     
     .logoImgNav {
       width: 50px;
       border: 2px solid white;
       border-radius: 50%;
     }
     
     .footer {
       font-size: 1.5em;
       padding-left: 10%;
       padding-right: 10%;
     }
     
     .fotTxt {
       margin-bottom: 10px;
     }
     
     .logoImgFot {
       margin-top: 10px;
     }
     
     .logoImgNav {
       width: 50px;
       border: 2px solid white;
       border-radius: 50%;
     }
     
     p {
       padding: 0 10%;
     }
   }